/* Estilize como desejar */
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    text-align: center;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
}

nav {
    color: azure;
    font-size: large;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style: inherit;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-style: italic;
}

.card {
    background-color: rgb(238, 235, 235);
    border: 2px solid #f7fdbdfa;
    border-radius: 5px;
    padding: 3px;
    margin: 10px;
    display: inline-block;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: auto;
    border: 2px solid rgba(58, 57, 57, 0.815);
    border-radius: 3px;
    margin: -3px;
}

.button {
    display: flex;
    flex-direction: column;
    padding: 2px;
    justify-content: flex-end;
    align-items: flex-end;
    
}

.gridButton {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonAdd {
    background-color: #3061de;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: azure solid 2px;
    color: azure;
    padding: 10px;
    font-size: x-large;
    cursor: cell;
    margin-top: -50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.favorite-button{
    background-color: #3be74c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: black;
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.726);
    border-radius: 10px;
    cursor: pointer;
    width: 40%;
}

.favorite-button:hover{
    background-color: #afaaaa;
    color: black;
}

.favorite-button-No{
    background-color: #f1d274;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    width: 40%;
}

.favorite-button-No:hover{
    background-color: #474747;
    color: whitesmoke;
}

.buttonSet {
    background-color: #ede210;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: black;
    margin-top: 10px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    width: 40%;
}

.buttonSet:hover {
    background-color: #929190ea;
}

.buttonRemove {
    background-color: #f54444;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    padding: 5px 10px;
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.726);
    border-radius: 10px;
    cursor: pointer;
    width: 40%;
}

.buttonRemove:hover {
    background-color: #afaaaa;
    color:#000000;
}

footer {
    text-align: center;
    font-style: italic;
    color: #fff;
    align-self: center;
    padding: 50px;
}